* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.proj-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 100vw;
  border-color: transparent transparent #4717f6 transparent;
  position: relative;
  top: 25rem;
}

.flipped-projects {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 100vw;
  border-color: transparent transparent #4717f6 transparent;
  position: relative;
  top: 25rem;
  transform: scale(-1, -1);
}

.projects {
  background-color: #4717f6;
  position: relative;
  top: 25rem;
  padding: 40px;
  color: white;
  text-align: center;
}

.js {
  position: relative;
  right: 10rem;
}

.py {
  position: relative;
  right: 5rem;
}

.java {
  position: relative;
}

.node {
  position: relative;
  left: 5rem;
}

.react {
  position: relative;
  left: 7rem;
}

.ts {
  position: relative;
  left: 10rem;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0b16;
  color: white;
  padding: 10px;
}

.name {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: bold;
}

.navbar-content {
  height: 100%;
}

.navbar-content ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.navbar-content li {
  list-style: none;
}

.navbar-content li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-content li:hover {
  background-color: #555;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: white;
}

.pancake {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.pancake .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.line {
  position: relative;
  bottom: 10px;
  height: 2px;
  background-color: white;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: 6rem;
  margin-bottom: 2.5rem;
  color: white;
  position: relative;
  left: 15rem;
  top: 10rem;
}

.home__title-color {
  color: #4717f6;
}

.github {
  background-color: #4717f6;
  border: none;
  outline: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  top: 10rem;
  border-radius: 10px;
  left: 21rem;
}

.github:hover {
  background-color: #4a21e0;
}

.about {
  background-color: #4717f6;
  position: relative;
  top: 25rem;
  padding: 40px;
  color: white;
  text-align: center;
}

.upsidedown {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 100vw;
  border-color: transparent transparent #4717f6 transparent;
  position: relative;
  top: 25rem;
  transform: scale(-1, -1);
}

.skillsets {
  position: relative;
  top: 25rem;
  padding: 40px;
  color: white;
  text-align: center;
}

.about-title,
.skill-title,
.proj-title {
  font-size: 60px;
}

.javas {
  font-size: 40px;
  font-family: Roboto Mono, sans-serif;
  position: relative;
  right: 30rem;
  top: 1rem;
}

.paragraphs {
  font-size: 30px;
  position: relative;
  top: 20px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 100vw;
  border-color: transparent transparent #4717f6 transparent;
  position: relative;
  top: 25rem;
}

.bx.bx-info-circle {
  font-size: 130px;
  position: relative;
  right: 47%;
}

.img-grabber {
  width: 1300px;
  padding: 50px;
  margin: 20px;
  height: 500px;
  background-color: #e5e4e4;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-grabber h1 {
  font-size: 40px;
  color: black;
  font-family: Roboto Mono, sans-serif;
}

.img-grabber p {
  text-align: left;
  color: black;
  font-size: 30px;
  font-family: "Arimo", sans-serif;
}

.img-github {
  border: none;
  background-color: #4717f6;
  outline: none;
  cursor: pointer;
  pad: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-size: 60px;
  position: relative;
  top: 4rem;
  right: 15rem;
  color: white;
}

.view-img-grabber {
  border: none;
  background-color: #4717f6;
  outline: none;
  cursor: pointer;
  pad: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  top: 4rem;
  right: 39rem;
}

.editor-github {
  border: none;
  background-color: #4717f6;
  outline: none;
  cursor: pointer;
  pad: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-size: 60px;
  position: relative;
  top: 6rem;
  right: 15rem;
  color: white;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0e0b16;
  color: white;
  text-align: center;
  top: 23rem;
  height: 120px;
}

.top {
  font-size: 60px;
  color: white;
}

.icons-jupitr {
  font-size: 60px;
  position: relative;
  left: 37rem;
  top: 3rem;
}

#cs {
  position: relative;
  top: 20px;
}

.bx.bxl-javascript {
  color: rgb(189, 189, 57);
}

.footer p {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.javaicon {
  position: relative;
  top: 1rem;
}

.view-text-editor {
  border: none;
  background-color: #4717f6;
  outline: none;
  cursor: pointer;
  pad: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  top: 6rem;
  right: 39rem;
}

.editor-github:hover,
.view-text-editor:hover,
.view-img-grabber:hover,
.img-github:hover {
  background-color: #8568eb;
}

.bx.bxl-html5 {
  color: #e34c26;
}

.bx.bxl-css3 {
  color: #264de4;
}

.bx.bxl-nodejs {
  color: #68a063;
}

.icons {
  font-size: 60px;
  position: relative;
  left: 37rem;
}

@media all and (max-width: 900px) {
  .home__title {
    font-size: 50px;
    margin-left: -11rem;
  }

  .github {
    margin-left: -14rem;
  }

  .java {
    left: 20px;
  }

  .py {
    left: 10px;
  }

  .js {
    left: -10px;
  }

  .node {
    position: absolute;
    bottom: 35px;
  }

  .react {
    top: 10px;
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  .pancake {
    display: flex;
  }

  .navbar-content {
    display: none;
    width: 100%;
  }

  .navbar-content ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-content ul li {
    text-align: center;
  }

  .navbar-content ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-content.active {
    display: flex;
  }
}
